html{
    height: 100%;
    width: 100%;

    overflow-y: none;
}

body {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 10% 20% 60% 10%;
    grid-template-rows: 7% 88% 5%;
    grid-template-areas:
    "title title . ."
    ". controls blocks ."
    ". footer footer .";
}

:root {
    --grid-length: 16; 
}

#title {
    grid-area: title;
    justify-self: center;
    align-self: center;
}

#controls {
    grid-area: controls;
    
    text-align: center;
}

#grid-container {
    grid-area: blocks;
    align-self: center;
    justify-self: end;

    height: 800px;
    width: 800px;
    
    display: grid;
    grid-template-columns: repeat(var(--grid-length), 1fr);
    grid-template-rows: repeat(var(--grid-length), 1fr);
}

.grid-element {
    border-style: dashed;
    border-width: 1px;
}

.grid-element-black {
    background-color: black;
}

#footer {
    grid-area: footer;
}