html{
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 85% 5%;
    grid-template-areas:
    "title title"
    "controls blocks"
    "footer footer";

    margin: 0;
}

:root {
    --grid-length: 16; 
}

#title {
    grid-area: title;
}

#controls {
    grid-area: controls;
    
    text-align: center;
}

#grid-container {
    grid-area: blocks;
    align-self: center;
    justify-self: center;

    height: 800px;
    width: 800px;
    
    display: grid;
    grid-template-columns: repeat(var(--grid-length), 1fr);
    grid-template-rows: repeat(var(--grid-length), 1fr);
}

.grid-element {
    border-style: dashed;
    border-width: 1px;
}

.grid-element-color {
    background-color: black;
}

#footer {
    grid-area: footer;
    height: 50px;
}