html{
    height: 100%;
    width: 100%;

    overflow-y: none;
}

body {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 10% 30% 55% 5%;
    grid-template-rows: 7% 88% 5%;
    grid-template-areas:
    ". title . ."
    ". controls blocks ."
    ". footer . .";

    background: linear-gradient(360deg, rgb(68, 255, 31), rgb(118, 255, 255));
}

@font-face {
    font-family: digital;
    src: url("../style/digital-7.ttf");
}

button {
    outline: none;
}

button:hover {
    cursor: pointer;
}

input[type='radio']:hover {
    cursor: pointer;
}

.starting-background {
    background-color: white;
}

.rainbow {
    background: red;
    background: -webkit-linear-gradient(left, red , orange, green, blue, darkblue, violet);
    background: -o-linear-gradient(right, red, orange, green, blue, darkblue, violet);
    background: -moz-linear-gradient(right, red, orange, green, blue, darkblue, violet);
    background: linear-gradient(to right, red , orange, green, blue, darkblue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

:root {
    --grid-length: 16; 
}

#title {
    grid-area: title;
    justify-self: center;
    align-self: center;

    font-family: 'Lobster', cursive;
    font-size: 70px;

    padding-top: 30px;
}

#controls {
    grid-area: controls;

    font-family: 'Strait', sans-serif;

    display: grid;
    grid-template-rows: 20% 20% 60%;
    grid-template-areas:
    "size"
    "clear"
    "colors";
}

#input {
    grid-area: size;
    align-self: center;
    justify-self: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 28px;

    margin-top: 30px;

}

#input-number {
    width: 70px;
    height: 35px;
    text-align: center;
    font-size: 22px;  

    margin: 10px;
    margin-right: 20px;

    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#update {
    width: 130px;
    height: 40px;

    font-family: digital;
    font-size: 26px;
}

#clear {
    grid-area: clear;
    align-self: center;
    justify-self: center;

    font-family: 'digital';
    font-size: 45px;
    letter-spacing: 4px;

    height: 45%;
    width: 40%;
}

h2 {
    font-size: 36px;
    font-weight: 800;

    padding: 10px;
}

#colors {
   grid-area: colors;

   display: flex;
   flex-direction: column;
   justify-self: flex-start;
   align-self: flex-start;

   padding-top: 40px;
   padding-left: 10px;

   font-size: 28px;
   letter-spacing: normal;

}

.color-input {
    padding: 10px;
}

.rgb-input {
    width: 55px;
    height: 35px;
    font-size: 20px;
    padding: 1px;
    text-align: center;

    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#grid-container {
    grid-area: blocks;
    align-self: center;
    justify-self: end;

    height: 800px;
    width: 800px;
    
    display: grid;
    grid-template-columns: repeat(var(--grid-length), 1fr);
    grid-template-rows: repeat(var(--grid-length), 1fr);
}

.grid-element {
    border-style: dashed;
    border-width: 1px;
    border-color: rgb(141, 141, 141);
    outline: none;
}

#footer {
    grid-area: footer;
    align-self: center;
    justify-self: center;
    
}

#footer-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#footer-text {
    padding: 10px;
    font-family: 'Strait', sans-serif;
    font-size: 22px;
}

#github-image {
    height: 32px;
    width: 32px;
}